/* .dashboard-stock {
  display: grid;
  justify-content: space-between;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: auto;

} */

td {
  width: 500px;
}

tr {
  width: 90%;
  
}